* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: sans-serif;

  html {
    height: 100%;

    @media (max-width: 1080px) {
      font-size: 93.75%;
    }
    
    @media (max-width: 720px) {
      font-size: 87.5%;
    }
  }
}
